@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 20px;
    border: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}
